<html>
<head>
    <meta charset="utf-8">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        button {
            padding: 15px;
            cursor: pointer;
        }
    </style>
</head>
<body>
<% @tasks = tasks.uniq {|h| h[:id]}.sort {|h1, h2| h1[:id] <=> h2[:id]} %>
<% @invalid_tasks = @tasks.map { |t| t[:id] if stats[t[:id]][:max] > t[:period] }.compact %>
<% unless @invalid_tasks.empty? %>
    <h1><%= "WARNING: В задачах #{@invalid_tasks} макс. время отклика превышает D" %></h1>
    <button onclick="naebati()">Наебать старика!</button>
<% end %>
<% @latest_task = tasks.max { |t| t[:periods].last[:end] }[:periods].last[:end] %>
<h3>Задачи выполняются до <%= (@latest_task.to_f / 1000).round(3) %></h3>
<table>
  <tr>
    <th>ID</th>
    <th>Период</th>
    <th>λ</th>
    <th>Время выполнения</th>
    <th>Среднее время отклика</th>
    <th>Макс. время отклика</th>
    <th>D</th>
  </tr>
  <% @tasks.each do |t| %>
      <tr>
        <td><%= t[:id] %></td>
        <td><%= t[:period] %></td>
        <td><%= t[:lambda] %></td>
        <td><%= t[:exec_time] %></td>
        <td><%= stats[t[:id]][:average] %></td>
        <td><%= stats[t[:id]][:max] %></td>
        <td><%= t[:period] %></td>
      </tr>
  <% end %>
</table>
<div id="container"></div>
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-gantt.min.js"></script>
<script>
    anychart.format.inputDateTimeFormat("mm:ss.SS");
    anychart.format.outputDateTimeFormat("mm:ss.SS");
    anychart.onDocumentReady(() => {
        const title = '<%= title %>';
        const data = JSON.parse('<%= tasks.to_json %>');

        console.log('data', data)
        const treeData = anychart.data.tree(data, 'as-table');

        const chart = anychart.ganttResource();
        chart.getTimeline().header().format("{%tickValue}{dateTimeFormat:ss.SS}");
        const chartTitle = chart.title();
        chartTitle.enabled(true);
        chartTitle.text(title);
        chart.getTimeline().scale().zoomLevels([["second"]]);
        chart.container("container");
        chart.data(treeData);
        chart.draw();
        chart.fitAll();
    });
</script>
</body>
</html>